---
import { marked } from 'marked';
import Layout from '@modules/Layout/index.astro';
import SiteHeader from '@modules/Layout/SiteHeader/index.astro';
import PropertyPhotos from './PropertyPhotos/index.astro';
import Pills from '@components/Pills';
import Box from '@components/Box/index.astro';
import AreaInfo from '@components/AreaInfo/index.astro';
import Availability from '@modules/Availability';
import getSearchResults from '@lib/getSearchResults';
import PropertyList from '@modules/PropertyList/index.astro';
import Button from '@components/Button';
import LocationMap from '@components/Map';
import properties from '@data/properties';
import Breadcrumbs from './Breadcrumbs.astro';
import ReadMore from '@components/ReadMore';
const { property } = Astro.props;
const descriptionHtml = property.description ? marked.parse(property.description).toString() : '';
const searchResults = getSearchResults([property]);

// Find the next property in the list
const currentIndex = properties.findIndex((p) => p.slug === property.slug);
const nextProperty =
  currentIndex !== -1 && currentIndex < properties.length - 1
    ? properties[currentIndex + 1]
    : properties[0]; // Loop back to first property if at the end
---

<Layout>
  <SiteHeader />
  <main>
    <div class="container">
      <Box noPadMobile>
        <Breadcrumbs property={property} />
        <div class="md:hidden px-4 py-10 bg-[#056c8f] text-[rgb(255,255,255,0.8)] text-center">
          <h3 class="text-4xl font-serif font-normal mb-4">{property.name}</h3>
          <p>
            {property.intro}
          </p>
        </div>
        <div class="hidden lg:flex flex-col justify-between items-center lg:flex-row gap-4">
          <div>
            <div class="prose mb-4">
              <p>
                {property.intro}
              </p>
            </div>
          </div>
          <div class="hidden lg:block">
            <Button variant="secondary" href={`/${nextProperty.slug}`}>
              Next property <i class="codicon codicon-arrow-right"></i>
            </Button>
          </div>
        </div>
        <PropertyPhotos
          propertyId={property.id}
          mainImageUrl={property.lodgify?.imageUrl}
          imageInfo={property.roomInfo.images}
        />
      </Box>
      <Box>
        <div class="flex flex-col lg:flex-row gap-4">
          <div>
            <Pills items={property.features} className="mb-4" />
            <ReadMore content={descriptionHtml} client:load />
          </div>
          <LocationMap client:load />
        </div>
      </Box>
      <Availability client:visible properties={[property]} initialResults={searchResults} />
      <Box class="mt-4">
        <AreaInfo />
      </Box>
      <PropertyList exclude={property.slug} title="Other properties" />
    </div>
  </main>
</Layout>
