---
import { marked } from 'marked';
import properties from '@data/properties';
import Layout from '@modules/Layout/index.astro';
import SiteHeader from '@modules/Layout/SiteHeader/index.astro';
import PropertyGallery from './PropertyGallery/index.astro';
import Pills from '@components/Pills';
import Box from '@components/Box/index.astro';
import AreaInfo from '@components/AreaInfo/index.astro';
import Availability from '@modules/Availability';
import { generatePropertySearchResults } from '@utils/generateSearchResults';
import UserIcon from './UserIcon';
import PropertyList from '@modules/PropertyList/index.astro';

const { property } = Astro.props;
const descriptionHtml = property.description ? marked.parse(property.description) : '';
const searchResults = generatePropertySearchResults(property);
---

<Layout>
  <SiteHeader />
  <main class="container">
    <Box cozy>
      <div class="prose mb-4">
        <div class="flex items-center gap-4">
          <h3 class="m-0">{property.name}</h3>
          <span class="flex items-center font-default gap-1 opacity-70">
            <UserIcon width={19} height={19} />
            <span class="text-lg font-semibold">{property.maxPeople}</span>
          </span>
        </div>
        <p>
          {property.intro}
        </p>
      </div>
      <PropertyGallery
        propertyId={property.id}
        mainImageUrl={property.lodgify?.imageUrl}
        imageInfo={property.roomInfo.images}
      />
      <Pills items={property.features} className="mt-4" />
      <div class="my-4 prose" set:html={descriptionHtml} />
    </Box>
    <Availability client:load properties={[property]} initialResults={[searchResults]} />
    <Box class="mt-4">
      <AreaInfo />
    </Box>
    <PropertyList exclude={property.slug} title="Other properties" />
  </main>
</Layout>
