---
import { marked } from 'marked';
import Layout from '@modules/Layout/index.astro';
import SiteHeader from '@modules/Layout/SiteHeader';
import PropertyPhotos from './PropertyPhotos/index.astro';
import Pills from '@components/Pills';
import Box from '@components/Box/index.astro';
import AreaInfo from '@components/AreaInfo/index.astro';
import Availability from '@modules/Availability';
import getSearchResults from '@lib/getSearchResults';
import PropertyList from '@modules/PropertyList/index.astro';
import LocationMap from '@components/Map';
import ReadMore from '@components/ReadMore';
import Header from './Header/index.astro';

const { property } = Astro.props;
import properties from '@data/properties';
const descriptionHtml = property.description ? marked.parse(property.description) : '';
const searchResults = getSearchResults(properties);

// Find the next property in the list
const currentIndex = properties.findIndex((p) => p.slug === property.slug);
const nextProperty =
  currentIndex !== -1 && currentIndex < properties.length - 1
    ? properties[currentIndex + 1]
    : properties[0]; // Loop back to first property if at the end
---

<Layout title={property.name}>
  <SiteHeader client:load />
  <main>
    <div class="container">
      <Box noPadMobile class="lg:!pt-16">
        <Header property={property} nextProperty={nextProperty} />
        <PropertyPhotos
          propertyId={property.id}
          mainImageUrl={property.lodgify?.imageUrl}
          imageInfo={property.roomInfo.images}
        />
      </Box>
      <Box class="lg:!pt-0 lg:!-mt-4">
        <div class="flex flex-col lg:flex-row gap-8">
          <LocationMap client:load />
          <div class="">
            <Pills items={property.features} className="mb-4" />
            <div class="prose">
              {property.description}
            </div>
          </div>
        </div>
      </Box>
      <Availability
        client:visible
        currentProperty={property}
        properties={properties}
        initialResults={searchResults}
      />
    </div>
    <AreaInfo />
    <div class="container">
      <PropertyList exclude={property.slug} title="Other properties" />
    </div>
  </main>
</Layout>
