---
import { marked } from 'marked';
import PropertyGallery from '@modules/PropertyGallery/index.astro';
import PropertyIntro from './Intro.astro';
import DateSelector from '@components/DateSelector';
import AreaInfo from '@modules/AreaInfo/index.astro';
import List from '@components/List';
import Box from '@components/Box/index.astro';
import Pills from '@components/Pills/index.astro';

const { property } = Astro.props;
const { lodgify } = property;
const descriptionHtml = property.description ? marked.parse(property.description) : '';
---

<div>
  <div class="flex flex-col lg:flex-row gap-8">
    <div class="flex-auto w-full lg:w-2/3">
      <Box>
        <PropertyIntro property={property} className="mb-4" />
        <PropertyGallery
          propertyId={property.id}
          mainImageUrl={property.lodgify?.imageUrl}
          imageInfo={property.roomInfo.images}
        />
        <Pills items={property.features} />
        <div class="my-4 prose" set:html={descriptionHtml} />
      </Box>
    </div>
    <div class="flex-auto w-full lg:w-1/3">
      <Box>
        <List title="Highlights" items={property.highlights} />
      </Box>
      <a class="block bg-blue-500 text-white px-4 py-2 rounded-lg shadow mb-4" href="#book"
        >Book your stay</a
      >
      <AreaInfo />
    </div>
  </div>
  <div class="flex flex-col lg:flex-row gap-8 mt-4"></div>
  <Box id="book" class="p-8 border border-gray-200 rounded-lg shadow-lg">
    <div class="prose mb-4">
      <h4 class="">Book your stay</h4>
    </div>
    <DateSelector
      client:load
      grid
      propertyId={property.id}
      propertySlug={property.slug}
      rates={property.rates}
      availability={property.availability}
      currencyCode={lodgify.currencyCode}
      limit={9}
    />
  </Box>
  <div class="mt-4 flex"></div>
</div>
