---
import type { PropertyPage } from '@data/properties/types';
import PropertyPhoto from './PropertyPhoto/index.astro';
import clsx from 'clsx';

interface Props {
  property: PropertyPage;
  className?: string;
}

const { property, className } = Astro.props;
const imageUrl = property.lodgify?.imageUrl || '';
---

<div
  class={clsx(
    'border bg-white border-gray-200 shadow-md p-8 rounded-lg overflow-hidden hover:shadow-lg transition-shadow',
    className
  )}
>
  <a href={`/${property.slug}`} class="block mb-4">
    <PropertyPhoto propertyId={property.id} imageUrl={imageUrl} />
  </a>
  <div>
    <div class="prose">
      <h3>{property.name}</h3>
      <p>
        {property.intro}
        <a href={`/${property.slug}`}>Read more</a>
      </p>
    </div>
  </div>
</div>
