---
import PropertyPhoto from './PropertyPhoto/index.astro';
import DateSelector from '@components/DateSelector';

const { property } = Astro.props;
const { lodgify } = property;
---

<div
  class="flex flex-col lg:flex-row border border-gray-200 bg-white shadow-md rounded-xl overflow-hidden mb-4 hover:shadow-lg transition-shadow"
>
  <a href={`/${property.slug}`} class="block lg:w-1/2 rounded-l-lg overflow-hidden">
    <PropertyPhoto propertyId={property.id} imageUrl={property.lodgify?.imageUrl} />
  </a>
  <div class="lg:w-1/2 p-8">
    <div class="prose mb-4">
      <h3>{property.name}</h3>
      <p>
        {property.intro}
        <a href={`/${property.slug}`}>Read more</a>
      </p>
    </div>
    <DateSelector
      grid
      propertyId={property.id}
      propertySlug={property.slug}
      rates={property.rates}
      availability={property.availability}
      currencyCode={lodgify.currencyCode}
      limit={4}
      showMore
    />
    <!-- <div class="mt-4">
      <BookingWidget propertyId={property.id} client:load />
    </div> -->
  </div>
</div>
