---
import PropertyPhotos from '@components/PropertyPhotos/index.astro';
import AvailablePeriods from '@components/PropertyPage/AvailablePeriods';

const { property } = Astro.props;
const { lodgify } = property;
---

<div class="flex flex-col lg:flex-row border bg-white border-gray-300 shadow-lg p-8 rounded-lg">
  <a href={`/${property.slug}`} class="block lg:w-1/2">
    <PropertyPhotos property={property} layout="single" class="mb-4" />
  </a>
  <div class="lg:w-1/2">
    <div class="prose mb-4">
      <h3>{property.name}</h3>
      <p>
        {property.intro}
        <a href={`/${property.slug}`}>Read more</a>
      </p>
    </div>
    <AvailablePeriods
      grid
      propertyId={property.id}
      rates={property.rates}
      availability={property.availability}
      currencyCode={lodgify.currencyCode}
      limit={4}
    />
  </div>
</div>
