---
import clsx from 'clsx';
import PropertyPhoto from '@components/PropertyPhoto/index.astro';

const { property, className } = Astro.props;
---

<div
  class={clsx(
    'border bg-white border-gray-200 shadow-md p-8 rounded-lg overflow-hidden hover:shadow-lg transition-shadow',
    className
  )}
>
  <a href={`/${property.slug}`} class="block mb-4">
    <PropertyPhoto propertyId={property.id} imageUrl={property.lodgify?.imageUrl} />
  </a>
  <div>
    <div class="prose">
      <h3>{property.name}</h3>
      <p>
        {property.intro}
        <a href={`/${property.slug}`}>Read more</a>
      </p>
    </div>
  </div>
</div>
