---
import { marked } from 'marked';

import properties from '@data/properties';
import Layout from '@modules/Layout/index.astro';
import PropertyCard from '@components/PropertyCard/index.astro';
import SiteHeader from '@modules/SiteHeader/index.astro';
import PropertyIntro from '@modules/PropertyPage/Intro.astro';
import PropertyGallery from '@modules/PropertyGallery/index.astro';
import Pills from '@components/Pills/index.astro';
import List from '@components/List';
import Box from '@components/Box/index.astro';
import AreaInfo from '@modules/AreaInfo/index.astro';
import SearchPage from '@modules/SearchPage';
import { generatePropertySearchResults } from '@utils/generateSearchResults';

export async function getStaticPaths() {
  return properties
    .filter((property) => property.lodgify)
    .map((property) => {
      return {
        params: { slug: property.slug },
        props: { property },
      };
    });
}

const { slug } = Astro.params;
const { property } = Astro.props;
const { lodgify } = property;
const descriptionHtml = property.description ? marked.parse(property.description) : '';
const otherProperties = properties.filter((property) => property.slug !== slug);

// Generate search results at build time
const searchResults = generatePropertySearchResults(property);
---

<Layout>
  <SiteHeader />
  <main class="container md:p-8 pt-16">
    <div>
      <div class="flex flex-col lg:flex-row gap-8">
        <div class="flex-auto w-full lg:w-2/3">
          <Box cozy>
            <div class="prose mb-4">
              <h3>{property.name}</h3>
              <p>
                {property.intro}
              </p>
            </div>
            <PropertyGallery
              propertyId={property.id}
              mainImageUrl={property.lodgify?.imageUrl}
              imageInfo={property.roomInfo.images}
            />
            <Pills items={property.features} />
            <div class="my-4 prose" set:html={descriptionHtml} />
          </Box>
        </div>
        <div class="flex-auto w-full lg:w-1/3">
          <Box>
            <List title="Highlights" items={property.highlights} />
          </Box>
          <a class="block bg-blue-500 text-white px-4 py-2 rounded-lg shadow mb-4" href="#book"
            >Book your stay</a
          >
          <Box class="mt-4">
            <AreaInfo />
          </Box>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row gap-8 mt-4"></div>
      <Box id="book" class="p-8 border border-gray-200 rounded-lg shadow-lg">
        <div class="prose mb-4">
          <h4 class="">Book your stay</h4>
        </div>
        <SearchPage client:load properties={[property]} initialResults={[searchResults]} />
      </Box>
    </div>
    <section>
      <h2>Other properties</h2>
      <div class="mt-4 grid grid-cols-1 md:grid-cols-2 gap-4">
        {otherProperties.map((property) => <PropertyCard property={property} />)}
      </div>
    </section>
  </main>
</Layout>
