---
import Layout from '../layouts/Layout.astro';
import Hero from '../modules/Hero.astro';
import photo1 from '../images/old/chateau-pool-1.jpg';
import properties from '../content/properties';
import { currencySymbol } from '../lib/utils';
---

<Layout>
  <Hero title="Your holiday home in France" image={photo1} />
  <section class="container mx-auto px-4 py-12">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        properties.map(({ lodgify, ...property }) => (
          <a
            href={`/${property.slug}`}
            class="block bg-white rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition-shadow duration-300"
          >
            {lodgify.imageUrl && (
              <img
                src={
                  lodgify.imageUrl.startsWith('//') ? `https:${lodgify.imageUrl}` : lodgify.imageUrl
                }
                alt={property.name}
                class="w-full h-48 object-cover"
              />
            )}
            <div class="p-6">
              <h3 class="text-xl font-semibold mb-2">{property.name}</h3>
              <p class="text-gray-600 mb-4">
                {lodgify.address}, {lodgify.city}
              </p>
              <div class="flex justify-between items-center">
                <span class="text-lg font-medium">
                  From {`${currencySymbol(lodgify.currencyCode)}${lodgify.minPrice}`} per night
                </span>
              </div>
            </div>
          </a>
        ))
      }
    </div>
  </section>
</Layout>
