---
import PropertyPhotos from '../PropertyPhotos.astro';
import PropertyIntro from '../PropertyIntro.astro';
import AvailablePeriods from '../AvailablePeriods';

const { property, showReadMore = false } = Astro.props;
const { lodgify } = property;
---

<div class="border bg-white border-gray-300 shadow-lg p-8 rounded-lg overflow-hidden">
  <a href={`/${property.slug}`} class="block mb-4">
    <PropertyPhotos property={property} layout="single" />
  </a>
  <div>
    <PropertyIntro property={property} showReadMore={showReadMore} />
    <AvailablePeriods
      client:load
      propertyId={property.id}
      rates={property.rates}
      availability={property.availability}
      currencyCode={lodgify.currencyCode}
      limit={4}
    />
  </div>
</div>
